<h1>Sign UP</h1>
<form action="create" method="POST">
  <input
    type="text"
    class="form-control"
    name="img"
    id="imge"
    placeholder="Image URL of Product"
  />
  <!-- <input type="file" name="name" placeholder="Your foto" required /> -->
  <input type="text" name="name" placeholder="Your Name" required />
  <input type="text" name="username" placeholder="Username" required />
  <input type="email" name="email" placeholder="Your Email" required />
  <input type="password" name="password" placeholder="password" required />
  <input
    type="password"
    name="Confirm_password"
    placeholder="Confirm_password"
    required
  />
  <input type="submit" value="Sign Up" />
</form>
